@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bluey-green: #BBEED7;
  --lighter-blue-green: #D1F2E3;
  --dark-blue: #054858;
  --lighter-blue: #518a96;
  --another-green: #D9F3D7;
  --error-color: #EE547E;
  --standard-font: 'DM Sans', sans-serif;
}

h1 {
  font-family: var(--standard-font);
  color: var(--dark-blue);
  user-select: none;
}

h2 {
  font-family: var(--standard-font);
  color: var(--lighter-blue);
  user-select: none;
}

p {
  font-family: var(--standard-font);
  color: var(--dark-blue);
}

button {
  font-family: var(--standard-font);
  font-size: 16px;
  font-weight: bolder;
  color: var(--dark-blue);
  background-color: var(--lighter-blue-green);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 70px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-blue);
  color: var(--lighter-blue-green);
}

label {
  font-family: var(--standard-font);
  color: var(--dark-blue);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formTemplate {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(5, 72, 88, 0.3), 0 6px 20px 0 rgba(5, 72, 88, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.formTemplate form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

label {
  font-size: 20px;
  font-family: var(--standard-font);
}

input {
  height: 30px;
  border-radius: 10px;
  width: 175px;
  text-align: center;
  font-size: 20px;
  border-style: solid;
  border-width: 3px;
  caret-color: var(--dark-blue);
  color: var(--dark-blue);
  border-color: var(--lighter-blue-green);
}

input::selection {
  background: var(--dark-blue);
  color: var(--lighter-blue-green);
}

input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.01em;
}

.loginForm {
  margin-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.icon {
  height: 100px;
  width: 100px;
  margin: 10px;
  color: var(--dark-blue);
}

.menu {
  height: 35px;
  width: 35px;
}

.error {
  color: var(--error-color);
  text-align: center;
}

.input-error {
  border-color: var(--error-color);
}

.disabledButton {
  cursor: not-allowed; 
  pointer-events: none;
  background-color: var(--lighter-blue-green);
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid var(--dark-blue);
  border-bottom-color: var(--lighter-blue);
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}





/* Homepage Component  */

.homepageContainer h1 {
  margin-bottom: 20px;
}

.menuIconContainer {
  width: fit-content;
  height: fit-content;
  background-color: var(--lighter-blue-green);
  border-radius: 50%;
  padding: 2px;
}

.iconContainer {
  width: fit-content;
  height: fit-content;
  background-color: var(--lighter-blue-green);
  border-radius: 50%;
  padding: 15px;
}







/* === Navbar Component === */
nav {
  background-color: var(--dark-blue);
  height: 100%;
  width: 200px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4;
}

nav a {
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bolder;
}

nav a:hover {
  text-decoration: underline;
}


nav h1, nav a, nav p, nav .navIconContainer {
  color: var(--lighter-blue-green);
}

.navIconContainer {
  background-color: var(--lighter-blue-green);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navIcon {
  color: var(--dark-blue);
  height: 25px;
  width: 25px;
}

.navIcon.active {
  color: var(--dark-blue);
}

.navbarContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
  margin-bottom: 8px;
}

.navbarHeader {
  margin-top: 15px;
  margin-bottom: 120px;
}

.logOutBtn {
  margin-top: 200px;
  margin-left: 10px;
}

.logOutBtn:hover {
  background-color: #518a96;
}












/* DASHBOARD PAGE  */

.dashboardHeader {
  position: fixed;
  top: 0px;
  left: 200px;
  padding-left: 20px;
  background-color: white;
  width: 100vw;
  z-index: 2;
}

.dashboardHeader h1 {
  margin-top: 20px;
  text-decoration: underline;
}

.dashboardHeader h2 {
  margin-bottom: 10px;
}

.siteFeedContainer {
  /* background-color: red; */
  position: relative;
  top: 110px;
  left: 240px;
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  padding-bottom: 50px;
  z-index: 1;
}

.siteContainer {
  z-index: 4;
  width: 420px;
  height: 300px;
  background-color: var(--dark-blue);
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.siteContainer:hover {
  opacity: 0.7;
}

.siteImgContainer {
  height: 100%;
  width: 58%;
  position: absolute;
  left: 0;
}

.siteImgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.siteContentContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 100%;
  width: 42%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.siteContentContainer h1, .siteContentContainer p {
  margin-left: 10px;
  color: var(--lighter-blue-green);
}

.siteContentContainer:last-of-type p {
  margin-top: 5px;
}

.siteContentContainer h1 {
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 6px;
}











/* Home Button Component */

.homeBtnContainer {
  background-color: var(--lighter-blue-green);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

.homeIcon {
  width: 30px;
  height: 30px;
  color: var(--dark-blue);
}

.homeBtnContainer:hover {
  background-color: var(--dark-blue);
}

.homeBtnContainer:hover .homeIcon {
  color: var(--lighter-blue-green);
}









/* Calendar Component */

.calendar {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weekday {
  width: 100px;
  text-align: center;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-day {
  width: 125px;
  height: 75px;
  position: relative; /* Added position relative */
  border: 1px solid #a6a6a6;
}

.calendar-day:hover {
  background-color: rgba(0,0,0,.10);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: #a6a6a6;
}

.current p {
  color: #000000;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}

.occupied-rooms {
  position: absolute;
  bottom: 4px; /* Adjust the distance from the bottom */
  left: 0;
  width: 100%;
  padding: 4px;
}

.occupied-room {
  margin-bottom: 4px;
  font-size: 12px;
}

.occupied-room p {
  margin: 0;
}












/* NOT FOUND PAGE (404)  */
.notFoundPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.notFoundPageContainer h1 {
  text-decoration: underline;
  font-size: 45px;
  margin-bottom: 10px;
}

.notFoundPageContainer p {
  font-size: 25px;
}

.notFoundPageContainer div {
  margin: 10px;
}










/* Site Nav Bar */

.siteNav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100px;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 1), var(--dark-blue)); */
  background-color: var(--dark-blue);
}

.siteNav img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 20px;
}

.siteNavInfo h1 {
  color: var(--bluey-green);
}

.siteNavInfo p {
  color: var(--lighter-blue);
}






.sitePageBody {
  position: fixed;
  top: 150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* SITE TOOLBAR COMPONENT */

.siteOptionsToolbar {
  position: relative;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  box-shadow: 0 4px 8px 0 rgba(5, 72, 88, 0.3), 0 6px 20px 0 rgba(5, 72, 88, 0.3);
  border-radius: 25px;
  height: 500px;
  width: 400px;
  margin-left: 40px;
}

.siteOptionsToolbar a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lighter-blue-green);
  border-radius: 25px;
  height: 45%;
  width: 45%;
  margin: 15px;
  text-decoration: none;
}

.siteOptionsToolbar a:hover, .siteOptionsToolbar a.active {
  background-color: var(--dark-blue);
}

.siteOptionsToolbar a:hover .siteIcon, .siteOptionsToolbar a.active .siteIcon {
  color: var(--lighter-blue-green);
}

.siteOptionsToolbar a:hover {
  color: var(--lighter-blue-green);
}

.siteOptionsToolbar a:hover .siteOptionTitle, .siteOptionsToolbar a.active .siteOptionTitle {
  color: var(--lighter-blue-green);
}

.siteOptionsToolbar a h2 {
  text-align: center;
  color: var(--dark-blue);
}

.siteIcon {
  height: 40px;
  width: 50px;
  margin-bottom: 10px;
  color: var(--dark-blue);
}

.siteOptionsToolbar a:nth-child(2) {
  top: 0;
  right: 0;
}

.siteOptionsToolbar a:nth-child(3) {
  bottom: 0;
  left: 0;
}

.siteOptionsToolbar a:nth-child(4) {
  bottom: 0;
  right: 0;
}






/* Rooms Feed Component: */

.roomsFeedContainer {
  background-color: red;
  width: 400px;
  height: 400px
}



/* MODAL COMPONENT */
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(5, 72, 88, 0.6);
  z-index: 10;
}

.modalContentContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 15;
}

.modalCloseButton {
  z-index: 20;
  padding: 2px;
  font-size: 40px;
  position: fixed;
  top: -1%;
  right: 2%;
  cursor: pointer;
  color: var(--lighter-blue-green);
}

.modalCloseButton:hover {
  color: var(--lighter-blue);
}

@media(max-width: 550px) {
  .modalCloseButton {
    font-size: 35px;
  }
}

@media(max-width: 450px) {
  .modalCloseButton {
    color: var(--mid-purp);
  }
}



/* Site Option Pillbar */

.siteOptionsPillbar {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  position: absolute;
  left: 250px;
  top: 40px
}

.siteOptionsPillbar button {
  height: 80px;
  width: 70px;
  border-radius: 25px;
}

.siteOptionsPillbar p {
  font-size: 12px;
}

.siteOptionsPillbar button:hover .pillTitle {
  color: var(--lighter-blue-green);
}

.pillIcon {
  height: 30px;
  width: 30px;
}










